* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nowrap {
  white-space: nowrap;
}

/* header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff4e0;
}

.header * {
  margin: 10px;
}

.icon-name {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.name {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
}

.logo {
  width: 60px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 40px;
}

.nav-items {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #ffbf9b;
  color: black;
  padding: 10px;
}
.nav-items:hover {
  cursor: pointer;
}

.nav-items img {
  height: 25px;
}

/* body */

/* utility box */

.utility-box {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: #424242;
  height: 60px;
}
/* city searching */

.location-search {
  height: 60px;
}
.location-Search-input {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #424242;
}

.location-list {
  z-index: 1;
  position: relative;
  width: 400px;
  margin-left: 20px;
  background-color: powderblue;
  border: 3px solid black;
  list-style-type: none;
}

.location-list :last-child {
  border: none;
}

.location-detail {
  min-height: 50px;
  width: 400px;
  padding: 10px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.location-detail:hover {
  background-color: teal;
  width: 395px;
  color: #fff4e0;
}

.city-search-bar {
  margin-left: 20px;
  padding-left: 20px;
  width: 350px;
  height: 35px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid darkgrey;
  color: white;
}
.location-Search-input button {
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 20px;
}

/* search */
.search-box {
  display: flex;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
  margin: auto 10px;
}

.filter-container button {
  color: whitesmoke;
  background-color: transparent;
  margin: 10px;
  border: 0px;
  padding-bottom: 3px;
  border: 2px solid #424242;
}
.filter-container button:hover {
  color: #fff;
  cursor: pointer;
}

#button-active {
  border-bottom: 2px solid whitesmoke;
}

.search-box * {
  margin: 10px;
}

.search-bar {
  margin-left: 20px;
  padding-left: 20px;
  color: white;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid darkgrey;
}
.search-bar:active {
  border: 0px;
}
.search-bar:focus {
  border: 0px;
}

.search-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.search-box button:hover {
  cursor: pointer;
}

.search-logo {
  height: 22px;
}
/* restaurant container */
.restaurant-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* restaurant card */
.restaurant-card {
  width: 260px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  margin: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.restaurant-card:hover {
  cursor: pointer;
}

.restaurant-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.restaurant-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.restaurant-cuisines {
  color: #686b78;
  font-size: 0.75rem;
  height: 50px;
}

.restaurant-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}
.restaurant-stat-1 {
  display: flex;
  align-items: center;
}
/* shimmer card */

.shimmer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shimmer-card {
  width: 260px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  margin: 5px;
}

.shimmer-img {
  width: 100%;
  height: 52%;
  background-color: lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.shimmer-name {
  width: 75%;
  height: 1.25rem;
  background-color: lightgray;
  margin-bottom: 5px;
}

.shimmer-cuisines {
  height: 50px;
}

.shimmer-cuisines * {
  height: 0.75rem;
  background-color: lightgray;
}

.shimmer-stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}
.shimmer-stat1 {
  width: 20%;
  background-color: lightgray;
}
.shimmer-stat2 {
  width: 20%;
  background-color: lightgray;
}
.shimmer-stat3 {
  width: 35%;
  background-color: lightgray;
}

/* menu page of a restaurant */
.menu-page {
  display: flex;
  justify-content: center;
}
.menu-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100vh;
  /* background-color: powderblue; */
}

/* header of menu */

.restaurant-header {
  height: 140px;
  margin: 0 16px;
  /* padding: 14px 0; */
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: lightseagreen; */
}
.restaurant-overview {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid black;
}

.res-name {
  color: rgb(40, 44, 63);
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.res-small-gray {
  color: rgb(126, 128, 140);
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 4px;
}
.res-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 68.48px;
  width: 70px;
  border: 1px solid black;
  border-radius: 5px;
}
.res-rating :first-child {
  font-size: 14px;
}

.res-rating :last-child {
  font-size: 11px;
  color: #7e808c;
  padding-top: 10px;
  border-top: 1px solid black;
}

.res-stats {
  display: flex;
  align-items: center;
  height: 42.88px;
}

.res-stats img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.res-stats span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;
}

/* veg only filter */
.veg-only-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: teal;
}

/* menu items */

.main-category-info {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.menu-category-title {
  font-family: arial;
  font-size: 16px;
  font-weight: 600;
}

.menu-seprator {
  height: 16px;
  background-color: rgb(241, 241, 246);
}

.category-collapse-button {
  background: none;
  border: none;
  height: 20px;
}

.category-collapse-button:hover {
  cursor: pointer;
}

.category-collapse-button img {
  height: 15px;
}

.sub-category-container {
  border-bottom: 1px solid black;
}

.sub-category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.sub-category-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

/* dish page */
.dish-container {
  display: flex;
  justify-content: space-between;
  min-height: 135px;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid black;
}
.dish-textual-info {
  width: 80%;
}
/* text data in dish container */
.dish-veg-logo {
  width: 20px;
  height: 20px;
}

.dish-name {
  font-size: 16px;
  margin-top: 4px;
}
.dish-price {
  font-size: 14px;
  margin-top: 4px;
}
.dish-description {
  color: rgba(40, 44, 63, 0.55);
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
}

.dish-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.dish-image-container img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.dish-image-container button {
  margin: 15px;
  padding: 5px 20px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  color: teal;
  font-weight: 500;
  font-size: 14px;
}

.dish-image-container button:active{
  background-color: palegoldenrod;
}

/* fixing last btm margins of each category */
.main-category .dish-container:nth-last-child(2) {
  border: none;
}

.sub-category-container .dish-container:nth-last-child(2) {
  border-bottom: 1px solid black;
}

.main-category :nth-last-child(2) {
  border: none;
}

.cart-container {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 236, 238);
  min-height: calc(100vh - 100px);
}

.order-info {
  position: relative;
  background-color: white;
  width: 600px;
  margin: 30px;
  padding: 30px;
  font-style: italic;
  font-size: 20px;
  font-family: serif;
  color: papayawhip;
}

.order-item-container {
  flex-grow: 1;
  overflow-y: auto;
}

.order-header {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: teal;
  text-decoration: underline;
  text-align: center;
  padding: 10px 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  padding: 10px 20px;
}

.item-price {
  display: flex;
}

.item-price button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 20px;
  background-color: papayawhip;
}
.collapse-item {
  width: 80%;
  height: 80%;
}

.order-total {
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  background-color: teal;
  padding: 10px 20px;
  border-top: 3px solid papayawhip;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: white;
  margin: 30px;
  padding: 30px;
  font-style: italic;
  font-size: 20px;
  font-family: serif;
}

.empty-cart-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: teal;
  color: papayawhip;
  text-decoration: underline;
}
